.gitignore

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Files
.env
*.env




# Django Specific
*.log
*.pot
*.pyc

# Node Modules for Frontend (if using JavaScript/React)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS Specific Files
.DS_Store
Thumbs.db

# IDE Specific Files
.vscode/
.idea/
*.swp

# Virtual Environment
venv/
env/
ENV/



# Compiled Frontend Files
build/

# Cache Files
*.cache

# Git Files
*.orig

static/stock/media
static/stock/graphs

db.sqlite3

*.sqlite3